
@{
    var columns = ViewBag.Columns ?? throw new Exception("_table_view require column");
    var data = ViewBag.Data ?? throw new Exception("_table_view require data");
    var title = ViewBag.Title ?? throw new Exception("_table_view require title");
}

<div class="table-responsive">
    <table class="table table-bordered table-striped text-center">
        <thead>
            <tr>
                @foreach (var it in columns)
                {
                    <th>@it</th>
                }
                <th>
                    Action
                </th>
            </tr>
        </thead>
        <tbody>
            @foreach (var row in data ?? new List<dynamic>())
            {
                <tr>
                    @foreach (var it in columns)
                    {
                        <td>@row[it]</td>
                    }

                    <td>
                        <button disabled class="btn btn-primary btn-sm">
                            <i class="bi bi-pencil"></i> Sửa
                        </button>
                        <button disabled class="btn btn-danger btn-sm">
                            <i class="bi bi-trash"></i> Xóa
                        </button>
                        <button disabled class="btn btn-info btn-sm">
                            <i class="bi bi-eye"></i> Xem
                        </button>
                    </td>
                    
                </tr>
                
            }
        </tbody>
</table>
</div>
