@using mvc_todolist.ModelViews

@model List<PersonViewModel>
@{
    ViewData["Title"] = "Rookies list";

}
<div>

    <h2 class="rookies-index">@ViewData["Title"]</h2>
@*     <div class="dropdown">
        <button class="btn btn-primary dropdown-toggle" type="button" id="columnDropdown" data-bs-toggle="dropdown" aria-expanded="false">
            Columns list
        </button>
        <ul class="dropdown-menu p-3" aria-labelledby="columnDropdown">
            @for (int i = 0; i < columnsOptions.Count; i++)
            {
                var it = columnsOptions[i];
                <li>
                    <label class="dropdown-item">
                        <input type="checkbox" onclick="handleOnColumnListSelected('@ViewBag.Columns', '@it', @i)" class="column-checkbox" value="@it" checked>
                        @it
                    </label>
                </li>
            }
        </ul>
    </div> *@
    <div class="container">
        <div class="row">
            <div class="col-md-3 ">
                @await Html.PartialAsync("_FilterView")
            </div>
            <div class="col-md-9" style="padding-left:50px">
                @await Html.PartialAsync("_TableView")
            </div>
            <div class="col-md-2" style="padding-left:50px">
            </div>
        </div>
    </div>
</div>